# Gemini API Key
GEMINI_API_KEY=
VITE_GEMINI_API_KEY=AIzaSyCQRK1kIlGvWdhtGd8tQTTIS9aLtXpgw9o
# Stripe Configuration
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=whsec_icJMwIICblqUZAC5vy7CWXjnfDPJJAhj

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT=

# WhatsApp Cloud API Configuration
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=
